<div class="container text-center">

  <h1><%= @cocktail.name%></h1>
  <div class="card py-3 my-3 cocktail-card text-center" style="width: 18rem;">
    <%= cl_image_tag @cocktail.photo, height: 150, width: 150, crop: :fill %>
    <ul>
      <% @cocktail.doses.each do |dose| %>
      <li><%= dose.description%> <%=dose.ingredient.name%> <%= link_to "delete dose", dose_path(dose), method: :delete %></li>
      <% end %>
    </ul>
  </div>
  <%= link_to "List of cocktails", cocktails_path, class: "btn btn-primary btn-grad rounded-pill"  %>
  <%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary btn-grad rounded-pill" %>
</div>
