<!DOCTYPE html>
<html>
<head>
  <title>RailsMisterCocktail</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class= "bg-pan-left">
  <div class="navbar navbar-lewagon">
    <div>
      <a href="https://mister-dragon-cocktail.herokuapp.com/cocktails">
     <img src="https://web.archive.org/web/20091027055212/http://www.geocities.com/soltic_99/greendragonflying.gif" style="height: 120px"alt="">
     </a>
      <i class="fas fa-angle-down icons"></i>
    </div>
    <div>
    <%= link_to "Create Cocktail", new_cocktail_path, class:"btn btn-primary text rounded-pill btn-grad" %>
    <img src="https://web.archive.org/web/20090725035950/http://espanol.geocities.com/emeikungfu/dragonclao3d.gif" style="height: 120px"alt="">
    </div>
  </div>
  <%= yield %>
  <%= javascript_include_tag "application" %>
  <%= javascript_pack_tag "application" %>
<audio src="sound.mp3" autoplay type="audio/mpeg"></audio>
</div>
</audio>
   <audio
        src="<%= asset_path('sound.mp3') %>" autoplay="true" loop="infinite">
            Your browser does not support the
            <code>audio</code> element.
    </audio>
  <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> by Mathias Allagnat
  </div>
</div>
 <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>
